*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    text-decoration: none;
}

.debug #app_header{
    background-color: lightblue;
    border: 1px solid black;
}

#app_header{
    flex-direction: column;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
}

.debug > header > div {
    height: 1.5rem;
    background-color: orange;
    border: 1px dashed black;
    margin-top: 0.5rem;
}

.container {
    width: 62.5%;
    margin: 2 auto;
    padding: 0.2rem;
}

.d-flex{
    display:flex;
}


.logo, .login{
    width: 20%;
    border: 1px dashed black;
    margin: auto;
}

.menu{
    width: 60%;
    text-align: center;
}

.ta-left{
    text-align: left;
} 

.ta-right{
    text-align: right;
}

.first-text {
    width: 48%;
    margin: auto;
    height: 16rem;
   text-align: center;
}
/* main */

.debug .banner{
    height: 20rem;
    background-color: blue;
    border: 1px solid black;
}

main section{
    flex-direction: column;
    justify-content: center;
    padding: 80px 200px;
    align-items: center;
}
.card{
    width: 100%;
    justify-content: center;
}
.img{
    width: calc((100% / 12) * 8);
    padding: 1rem;
    flex-direction: column;
 }
.img img{
    width: 80%;
}
.text{
    width: calc((100% / 12) * 7);
    padding: 1rem;
}
.text h3{
    color: #23272a;
    max-width: 50%;
    font-size: 50px;
    line-height: 4rem;   
}
.text p{
    color: #23272a;
    max-width: 50%;
    font-size: 20px;
    line-height: 3rem;
}
.area_text div{
    display: flex;
    flex-direction: column;
    align-self: center;
}
.wavePath-haxJK1{
    color: white;
}
.waverotate{
        transform: rotate(180deg);
}
/* section first */
.section_first{
    background-color: white;
}
.section_first .img{
    order: -1;
}

.wave-1hkxOo{
    margin-bottom: -5px;
}
.second{
    background-color: #f6f6f6;
}
.second .img{
    order: 1;
}
/* third section */
section .third{
    background-color: white;
}
.third .img{
    order: -1;
}
/* fourth section */
.section_fourth{
    background-color: #f6f6f6;
}
.fourth_card{
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.fourth_card .d-flex{
    align-items: center;
}
.fourth_card div{
    text-align: center;
}
.button{
    background-image: url(../img/stars.svg);
    background-repeat:repeat-x;
    background-size: contain;
}
.section_fourth .text{
    order: -1;
    width: 100%;
}
.section_fourth h3{
    text-align: center;
}
.section_fourth h4{
    color: black;
    font-size: 30px;
    text-align: center;
}
.section_fourth p{
    text-align: center;
}
.section_fourth button{
    margin-top: 30px;
    margin-bottom: 40px;
}
.download, .registrati{
    background-color: white;
    border: 0;
    border-radius: 30px;
    font-size: 20px;
    padding: 15px 30px;
}
#app_footer{
    background-color: #23272a;
}

.f-top{
    display:flex;
    justify-content: space-around;
    margin: 0 3rem;
    border-bottom: 1px solid #7289da;
    align-items: baseline;
}

.f-top ul{
    list-style-type: none;
}

.principal{
    width: calc((100% / 12) * 4)
    padding: 5rem;
}

.product,
.company,
.resources,
.rules{
    width: calc((100%/12) * 2);
    padding: 5rem;
}

.product{
    flex-direction: column;
}

.principal h4{
    color: #7289da;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.product li:first-child a{
    color:#7289da;
}
.product li{
    padding-bottom: 1rem;
}

.company li:first-child a{
    color:#7289da;
}

.company li{
    padding-bottom: 1rem;
}

.resources li:first-child a{
    color: #7289da;
}

.resources li{
    padding-bottom: 1rem;
}

.rules li:first-child a{
    color: #7289da;
}

.rules li{
    padding-bottom: 1rem;
}

.f-bottom{
    padding: 2rem 0;
    justify-content: space-between;
}
  

