*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    text-decoration: none;
}

.debug #app_header{
    background-color: lightblue;
    border: 1px solid black;
}

#app_header{
    flex-direction: column;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
}

.debug > header > div {
    height: 1.5rem;
    background-color: orange;
    border: 1px dashed black;
    margin-top: 0.5rem;
}

.container {
    width: 62.5%;
    margin: 2 auto;
    padding: 0.2rem;
}

.d-flex{
    display:flex;
}


.logo, .login{
    width: 20%;
    border: 1px dashed black;
    margin: auto;
}

.menu{
    width: 60%;
    text-align: center;
}

.ta-left{
    text-align: left;
} 

.ta-right{
    text-align: right;
}

.first-text {
    width: 48%;
    margin: auto;
    height: 16rem;
   text-align: center;
}
/* main */

.debug .banner{
    height: 20rem;
    background-color: blue;
    border: 1px solid black;
}

.debug > main .section_first{
    height: 26rem;
    background-color: white;
    border: 1px solid black;
    width: 100%;
}

.debug > main .section_second{
    height: 26rem;
    background-color: #d3d3d3;
    border: 1px solid black;
    width: 100%;
}

.debug > main .section_third{
    height: 26rem;
    background-color: white;
    border: 1px solid black;
    width: 100%;
}

.debug > main .section_fourth{
    height: 44rem;
    background-color: #d3d3d3;
    border: 1px solid black;
    width: 100%;
}

.debug .green_section{
    background-color: #228b22;
    width: 62.5%;
    border: 1px dashed black;
    height: 40rem;
    margin: 2rem auto;
}

.banner{
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.banner h1{
    font-size: 3rem;
    padding: 1rem 0;
}
.banner p{
    font-size: 1rem;
    padding: 1rem 0;
}

.banner button{
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    border: 0;
}

.download{
    background-color: #white;
    color: #646668;
}
.open{
    background-color: #23272a;
    color: white;
}

.content1, .content2, .content3{
    width: 62.5%;
    margin: 2rem auto;
}

.left{
    background-color: #1e90ff;
    float: left;
    width: calc((100% / 12) * 8);
    border: 1px dashed black;
}

.right{
    background-color: #ffc0cb;
    width: calc((100% / 12) * 4);
    border: 1px dashed black;    
}

.left, .right{
    display: inline-block;
    height: 22rem;
}

.leftgrey{
    background-color: #ffc0cb;
    width: calc((100% / 12) * 4);
}

.rightgrey{
    background-color: #1e90ff;
    float: right;
    width: calc((100% / 12) * 8);
}

.leftgrey, .rightgrey{
    display: inline-block;
    height: 22rem;
    border: 1px dashed black;
}

#app_footer{
    background-color: #23272a;
}

.f-top{
    display:flex;
    justify-content: space-around;
    margin: 0 3rem;
    border-bottom: 1px solid #7289da;
    align-items: baseline;
}

.f-top ul{
    list-style-type: none;
}

.principal{
    width: calc((100% / 12) * 4)
    padding: 5rem;
}

.product,
.company,
.resources,
.rules{
    width: calc((100%/12) * 2);
    padding: 5rem;
}

.product{
    flex-direction: column;
}

.principal h4{
    color: #7289da;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.product li:first-child a{
    color:#7289da;
}
.product li{
    padding-bottom: 1rem;
}

.company li:first-child a{
    color:#7289da;
}

.company li{
    padding-bottom: 1rem;
}

.resources li:first-child a{
    color: #7289da;
}

.resources li{
    padding-bottom: 1rem;
}

.rules li:first-child a{
    color: #7289da;
}

.rules li{
    padding-bottom: 1rem;
}

.f-bottom{
    padding: 2rem 0;
    justify-content: space-between;
}
  

